:root {
    --white: #FFFFFF;
    --darkgreen: #214E34;
    --green: #839073;
    --gray: #D9D9D9;
    --black: #000;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: var(--darkgreen);
}

.navigace {
    text-transform: uppercase;
}

.navigace__text {
    justify-content: center;
    text-decoration: none;
    color: var(--darkgreen);
}

.navigace__texty {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0em;
}

.navigace__text:hover {
    cursor: pointer;
    font-weight: 700;
}

.pozadi {
    position: relative;
    width: 100vw;
    height: 50vh;
}

.foto {
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.fotka {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.fotka--galerie {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: var(--white);
    position: absolute;
    top: 40vh;
    left: 5vw;
    filter: drop-shadow(0px 5px 5px var(--black))
} 

.kontakt__h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: var(--white);
    position: absolute;
    top: 30vh;
    left: 5vw;
    filter: drop-shadow(0px 5px 5px var(--black))
}

.pronajem {
    font-size: 50px;
    text-transform: uppercase;
    position: absolute;
    color: var(--white);
    text-align: center;
    filter: drop-shadow(0px 5px 5px var(--black));
    top: 150px;
}

h2 {
    font-size: 32px;
}

.vyhody {
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-weight: 700;
    background-color: var(--green);
    padding: 2em;
}

.vyhoda--rekreace {
    background-image: url(./imgs/ico/rekreace.svg);
    background-repeat: no-repeat;
    padding-left: 7em;
    padding-bottom: 2.5em;
    margin: .5em;
}
.vyhoda--prostredi {
    background-image: url(./imgs/ico/prostredi.svg);
    background-repeat: no-repeat;
    padding-left: 7em;
    padding-bottom: 2.5em;
    margin: .5em;
}

.vyhoda--mapa {
    background-image: url(./imgs/ico/bod.svg);
    background-repeat: no-repeat;
    padding-left: 7em;
    padding-bottom: 2.5em;
    margin: .5em;
}

.karta {
    padding: 2em;
}

.karta--left {
    padding: 2em;
}

.button {
    background-color: var(--darkgreen);
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    border-radius: 30px;
    padding: .5em;
}

.button:hover {
    background-color: var(--white);
    border: 3px solid var(--darkgreen);
    color: var(--darkgreen);
}

.buttons {
    text-align: center;
    margin: 3em;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--green);
    color: var(--white);
    font-size: 12px;
}

.picture {
    width: 100%;
    height: 100%;
}

.img__div {
    width: 20vw;
} 

.sekce {
    margin: 1.5em;
    margin-bottom: 3em;
}

.thumbnails, .thumbnails2, .thumbnails3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5em;
}

.kontakt__main {
    margin: 2em;
}

.cenik__price {
    margin-bottom: 3em;
    /* border: .5px solid var(--gray);
    padding-left: .5em; */
} 


.cenik__text {
    margin-bottom: 3em;
}

.kontakt__osoba {
    background-image: url(./imgs/ico/user.svg);
    background-repeat: no-repeat;
    padding: 10px 40px 15px 40px;
    margin: .5em;
}

.kontakt__telefon {
    background-image: url(./imgs/ico/phone.svg);
    background-repeat: no-repeat;
    padding: 10px 40px 15px 40px;
    margin: .5em;
}

.kontakt__mail {
    background-image: url(./imgs/ico/envelop.svg);
    background-repeat: no-repeat;
    padding: 10px 40px 15px 40px;
    margin: .5em;
}

.kontakt__adresa {
    background-image: url(./imgs/ico/location2.svg);
    background-repeat: no-repeat;
    padding: 10px 40px 15px 40px;
    margin: .5em;
} 

.kontakt__mail_text {
    color: var(--darkgreen);
}

.kontakt__telefon_text {
    color: var(--darkgreen);
}

.kontakt__osoba_text {
    display: inline;
}

.kontakt__adresa_text {
    display: inline;
}

.mapa {
    width: 100%;
}

.karta__text > p {
    font-size: 20px;
}

@media only screen and (min-width: 541px) {
    .pronajem {
        left: 25vw;
        right: 25vw;
    } 
}

@media only screen and (min-width: 768px) {
    .vyhody {
        flex-direction: row;
        padding: 1em;
        justify-content: center;
    }

    .karta {
        display: flex;
        gap: 2em;
        border-bottom: .5px solid var(--gray);
    }

    .karta--left {
        display: flex;
        gap: 2em;
        flex-direction: row-reverse;
        border-bottom: .5px solid var(--gray);
    }
    
    form {
        width: 50vw;
    } 
    
    .kontakt__h1 {
        top: 40vh;
    }
}

@media only screen and (min-width: 961px) {
    .karta__img {
        max-width: 40vw;
    }

    .karta {
        padding-left: 5em;
        padding-right: 5em;
    }

    .homepage__main {
        padding-left: 5em;
        padding-right: 5em;
    }

    form {
        width: 25vw;
    }

    .kontakt__wrap {
        display: flex;
        justify-content: space-around;
    }

    .sekce {
        margin-left: 5em;
        margin-right: 5em;
    }

}

@media only screen and (min-width: 1281px) {
    .homepage__main {
        padding-left: 10em;
        padding-right: 10em;
    }

    .sekce {
        margin-right: 10em;
        margin-left: 10em;
    }
}

@media only screen and (min-width: 1920px) {
    .pronajem {
        top: 300px
    }

    .homepage__main {
        padding-left: 20em;
        padding-right: 20em;
    }
}