:root {
    --white: #FFFFFF;
    --darkgreen: #214E34;
    --green: #839073;
    --gray: #D9D9D9;
    --black: #000;
}

html {
    font-family: 'Open Sans', sans-serif;
    color: var(--darkgreen);
}

.navigace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    margin: 1em;
}

.zeleny_text {
    text-decoration: none;
    color: var(--darkgreen);
}

.pozadi {
    position: relative;
    width: 100vw;
    height: 70vh;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.fotka {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.pronajem {
    position: absolute;
    color: var(--white);
    margin-right: 15em;
    left: 20px;
    bottom: 150px;
    filter: drop-shadow(0px 5px 5px var(--black))
}

.vyhody {
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-weight: 700;
    background-color: var(--green);
}

.vyhoda--rekreace {
    background-image: url(./imgs/ico/rekreace.svg);
    background-repeat: no-repeat;
    padding-left: 7em;
    padding-bottom: 1em;
    margin: 1.5em;
}
.vyhoda--prostredi {
    background-image: url(./imgs/ico/prostredi.svg);
    background-repeat: no-repeat;
    padding-left: 7em;
    padding-bottom: 1em;
    margin: 1.5em;
}

.vyhoda--mapa {
    background-image: url(./imgs/ico/bod.svg);
    background-repeat: no-repeat;
    padding-left: 7em;
    padding-bottom: 1em;
    margin: 1.5em;
}

.karta {
    margin: 1em;
}

.karta--left {
    margin: 1em;
}

.button {
    background-color: var(--darkgreen);
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    border-radius: 30px;
    padding: .5em;
}

.buttons {
    text-align: center;
    margin: 3em;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--green);
    color: var(--white);
    font-size: 12px;
}